#heading{
    color:red
}
.header{
display: flex;
justify-content: space-between;
border: 2px solid black;
height: 140px;
}
.logo{

width: 200px;
}
.nav-items{
padding:15px;
}
.nav-items > ul {
display: flex;
list-style-type: none;
font-size: 27px;
}
.nav-items > ul > li {
padding: 15px;
margin: 15px;
}